doctype html
html
  head
    title [ Kyriad ]
    link(rel="stylesheet", href="css/main.css", type="text/css")
    script(type="text/javascript" src="js/vendors/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="js/app.js")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body.concours
    nav
      a(href='#' class='trigger')
        img(src='images/menu.png')
    ul(id='menu')
      li
        a(href='index.html') Accueil
      li
        a(href='#') chambre
        ul
          li 
            a(href="#") 1
          li 
            a(href="#") 2
          li 
            a(href="#") 3
          li 
            a(href="#") 4
          li 
            a(href="#") 5
          li 
            a(href="#") 6
          li 
            a(href="#") 7
          li 
            a(href="#") 8
      li
        a(href='dotations.html') dotations
      li
        a(href='#') réglement
    header
      img(src='images/logo-kyriad.png')
      h1 Plus de confort moins de conformisme.
    div(class='play')
      h2 À vous de jouer ! choisissez votre chambre
      span(class='triangle')
    ul(class='rooms')
      li 
        a(href="#") 1
      li
        a(href="#") 2
      li
        a(href="#") 3
      li
        a(href="#") 4
      li
        a(href="#") 5
      li
        a(href="#") 6
      li
        a(href="#") 7
      li
        a(href="#") 8


    