/* TYPOS */
@font-face {
    font-family: 'dinbold';   
    src: url('../fonts/ff_din_bold-webfont.eot');
    src: url('../fonts/ff_din_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ff_din_bold-webfont.woff') format('woff'),
         url('../fonts/ff_din_bold-webfont.ttf') format('truetype'),
         url('../fonts/ff_din_bold-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interstate';
    src: url('../fonts/interstate_bold.eot');
    src: url('../fonts/interstate_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate_bold.woff') format('woff'),
         url('../fonts/interstate_bold.ttf') format('truetype'),
         url('../fonts/interstate_bold.svg#interstateregular') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'interstate';
    src: url('../fonts/interstate-regular-webfont.eot');
    src: url('../fonts/interstate-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate-regular-webfont.woff') format('woff'),
         url('../fonts/interstate-regular-webfont.ttf') format('truetype'),
         url('../fonts/interstate-regular-webfont.svg#interstateregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'interstate';
    src: url('interstate_light-webfont.eot');
    src: url('interstate_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('interstate_light-webfont.woff') format('woff'),
         url('interstate_light-webfont.ttf') format('truetype'),
         url('interstate_light-webfont.svg#interstateregular') format('svg');
    font-weight: 100;
    font-style: normal;
}