/*-------------------------*/
//--------Variables--------//
/*-------------------------*/

// COLORS ---------------- //


// Grays ----------------- //
/*-------------------------*/

profil = #d63d3f
experience = #37bc9b
portfolio = #f6bb42
contact = #4a89dc

gray = #888
grayLight = #999
grayLighter = #aaa