doctype html
html
  head
    title [ Kyriad ]
    link(rel="stylesheet", href="css/main.css", type="text/css")
    script(type="text/javascript" src="js/vendors/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="js/app.js")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .wrapper
      h2 L’incroyable Hôtel Kyriad
      h3 Chaque jour tentez de gagner
      ul
        li
          img(src='images/galaxy-tab.png' alt='')
          span(class='tablette') 1 tablette Samsung Galaxy Tab 3 10’
        li
          span(class='btn') 10
          span(class='nuits') nuits d’hôtel
      a(href='jouer.html' class='button') jouer
    p(class='mentions') Modèle présenté : une Tablette Samsung Galaxy Tab 3 10’ d’une valeur unitaire de 280€ TTC