doctype html
html
  head
    title [ Cofely ]
    link(rel="stylesheet", href="css/home_profil.css", type="text/css")
    script(type="text/javascript" src="js/vendors/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="js/slick.js")
    script(type="text/javascript" src="js/app.js")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body()
    div(id="wrapper")
      img(src="images/bg-home.png" alt="")
      .mask1
        a(href="profil_1.html")
      .mask2
        a(href="#")
      .mask3
        a(href="#")
      .mask4
        a(href="#")
      .mask5
        a(href="#")