/* TYPOS */
@font-face {
  font-family: nimbus-bold;
  src:url(../fonts/nimbus/nimbussannov-bol-webfont.eot);
  src:url(../fonts/nimbus/nimbussannov-bol-webfont.svg);
  src:url(../fonts/nimbus/nimbussannov-bol-webfont.ttf);
  src:url(../fonts/nimbus/nimbussannov-bol-webfont.woff);
}
@font-face {
  font-family: nimbus-med;
  src:url(../fonts/nimbus/nimbussannov-med-webfont.eot);
  src:url(../fonts/nimbus/nimbussannov-med-webfont.svg);
  src:url(../fonts/nimbus/nimbussannov-med-webfont.ttf);
  src:url(../fonts/nimbus/nimbussannov-med-webfont.woff);
}
@font-face {
  font-family: nimbus-reg;
  src:url(../fonts/nimbus/nimbussannov-reg-webfont.eot);
  src:url(../fonts/nimbus/nimbussannov-reg-webfont.svg);
  src:url(../fonts/nimbus/nimbussannov-reg-webfont.ttf);
  src:url(../fonts/nimbus/nimbussannov-reg-webfont.woff);
}
@font-face {
  font-family: nimbuscon-reg;
  src:url(../fonts/nimbus/nimbussannovcon-reg-webfont.eot);
  src:url(../fonts/nimbus/nimbussannovcon-reg-webfont.svg);
  src:url(../fonts/nimbus/nimbussannovcon-reg-webfont.ttf);
  src:url(../fonts/nimbus/nimbussannovcon-reg-webfont.woff);
}