block vars
  - var pageTitle = 'certifications'
extends layout/layout
block content
  section(class="wrapper")
    div(class="container")
      aside
        img(src='images/trombi/douay.png' alt='nathalie douay')
        h4 Nathalie Douay
        h5 Assistante de direction
        a(href='mailto:test@solvac.fr')
          img(src='images/mailto.png')
      div(class="content")
        h2 Certifications
        h3 NORMES ET CERTIFICATIONS PROFESSIONNELLES
        p La Solvac s’est toujours engagée dans une démarche porteuse de sens pour l’entreprise, ses collaborateurs et ses clients. Un engagement affirmé qui nous a poussé vers un niveau d’homologations et de certifications qui soit à la hauteur des exigences de nos clients. Cette qualification complète, au service de la performance, garantie la qualité de nos prestations mais aussi notre implication dans le respect des normes environnementales.
        div(class='logos')
          a(href='#')
            img(src='images/logo/logo-1.jpg' alt='Certibat')
          a(href='#')
            img(src='images/logo/logo-2.jpg' alt='Qualibat')
          a(href='#')
            img(src='images/logo/logo-3.jpg' alt='Vapeur Maitrisée')
          a(href='#')
            img(src='images/logo/logo-4.jpg' alt='Bureau Veritas')
          a(href='#')
            img(src='images/logo/logo-5.jpg' alt='Equilibre EDF')
