extends layout/layout

block content
  div(id="map")
  section(class="wrapper contact")
    div(class="container")
      div(class="cordinate")
        h3 Nous contacter
        p 42, rue chanzy - 75011 Paris
        | Tél. : +33 (0)1 53 27 37 27 Fax. : +33 (0)1 53 27 37 20
      ul(class="mailto")
        li 
          a(href="mailto:") Maintenance
        li 
          a(href="mailto:") Travaux
        li 
          a(href="mailto:") Informations
  script(type="text/javascript" src="js/google-map.js")
