block vars
  - var pageTitle = 'contact'
extends layout/layout
block content
  div(id="map")
  section(class="wrapper contact")
    div(class="container")
      ul(class="mailto")
        li
          a(href='mailto:boulenger@solvac.fr' class='mask') boulenger@solvac.fr
          span Maintenance
        li 
          a(href='mailto:boulenger@solvac.fr' class='mask') boulenger@solvac.fr
          span(href="mailto:") Travaux
        li
          a(href='mailto:boulenger@solvac.fr' class='mask') boulenger@solvac.fr
          span(href="mailto:") Informations
      div(class="cordinate")
        h3 Nous contacter
        p 42, rue chanzy - 75011 Paris
        | Tél. : +33 (0)1 53 27 37 27 Fax. : +33 (0)1 53 27 37 20
  script(type="text/javascript" src="js/google-map.js")
