block vars
  - var pageTitle = 'maintenance'
extends layout/layout
block content
  section(class="wrapper")
    div(class="container")
      aside
        img(src='images/trombi/lacaze.png' alt='nathalie douay')
        h4 Marc Lacaze
        h5 Responsable maintenance
        a(href='mailto:test@solvac.fr')
          img(src='images/mailto.png')
      div(class="content")
        h2 Maintenance
        h3 UNE SOLUTION DE MAINTENANCE MULTITECHNIQUE OPTIMISÉE :
        ul
          li Contrat Multitechnique
          li Maintenance et l’exploitation des installations P2
          li Garantie totale du matériel P3
          li Fourniture d’énergie P1
          li Service dédié à l’envoi des devis sous 72h00
          li Service d’astreinte 24h/24 
        p L’entretien et la fiabilisation des installations assurent l’opérationnalité des moyens de production de votre entreprise. La Solvac apporte une solution rapide, efficace et sécurisé d’assistance 24h/24. La Solvac garantie la veille technique et réglementaire de vos installations et met en œuvre tous les outils d’optimisation de service, de fiabilité et d’efficacité pour maintenir et améliorerl’exploitation des sites en toute sécurité. Grâce à sa plateforme TWIMM, la Solvac gère en temps réel ses interventions mais également l’ensemble des paramètres de suivi, de contrôle et de consommation.
