extends layout/layout

block content
  section(class="wrapper")
    div(class="container right")
      aside
        img(src='images/trombi/fouche.png' alt='nathalie douay')
        h4 Marie-Emmanuelle Fouché
        h5 Responsable travaux
        a(href='mailto:test@solvac.fr')
          img(src='images/mailto.png')
      div(class="content")
        h2 Travaux
        h3 LE SERVICE TRAVAUX SE DÉCOMPOSE EN TROIS DIVISIONS :
        ul
          li Commercial
          li Bureau d’études
          li Travaux 
        p Épaulé par une équipe commerciale et un bureau d’études intégré, le service travaux de la Solvac assure la réalisation et la mise en service des installations de conditionnement d'air, de ventilation, de chauffage, d'équipements électriques de régulation, de gestion centralisée et de plomberie. La Solvac bénéficie également de toutes les habilitations et qualifications professionnelles pour garantir la maîtrise totale de l’ensemble des ses prestations et vous assure, en outre, du respect de la conformitédes normes en vigueurs.
