block vars
  - var pageTitle = 'atouts'
extends layout/layout
block content
  section(class="wrapper")
    div(class="container")
     div(class="content")
        h2 UNE REUSSITE BASÉE SUR DES PRINCIPES SIMPLES
        ul
          li LA FORMATION DES INTERVENANTS AUX TECHNIQUES DE LA PROPRETÉ AINSI QU’AUX RÈGLES FONDAMENTALES D’HYGIÈNE ET DE SÉCURITÉ.
          li LE CHOIX D’UNE CHIMIE DE POINTE ET DE MATERIELS PERFORMANTS AFIN DE GAGNER EN EFFICACITÉ TOUT EN DEGAGEANT DU TEMPS DE TRAVAIL.
          li LA RÉACTIVITE DE NOS SERVICES FAVORISANT LA PROXIMITÉ AVEC NOS ÉQUIPES DE TERRAIN.
          li LA VÉRIFICATION DE LA BONNE COMPRÉHENSION DES CONSIGNES.
          li LA PERFORMANCE DES ÉQUIPES LIÉE À UNE POLITIQUE SALARIALE DE RECONNAISSANCE DE MÉRITE ET DE PROMOTION INTERNE.
          li LES VALEURS D’IMPLICATION ET DE MOTIVATION TRANSMISES PAR L’ENCADREMENT
          li LES AGENTS DITS «  VOLANTS » PRÉALABLEMENT FORMÉS À TOUS LES SITES ET POUVANT INTERVENIR À TOUT MOMENT EN CAS D’ABSENCES D’AGENTS TITULAIRES OU EN CAS DE BESOIN DE RENFORT SPÉCIFIQUE.
        .center
          img(src='images/logo.png' alt='')