block vars
  - var pageTitle = 'services'
extends layout/layout
block content
  section(class="wrapper")
    div(class="container")
      div(class="content")
        h2 LA PROPRETÉ EN TOUTE CONFIANCE
        p HIGHLANDS PROPRETÉ PREND EN CHARGE LE NETTOYAGE ET L’ENTRETIEN RÉGULIER DE LOCAUX DANS LE RESPECT D’UN CAHIER DES CHARGES DÉTAILLÉ GARANTISSANT UNE OBLIGATION DE MOYENS ET DE RÉSULTATS. UN CONTRÔLE QUALITÉ EST EFFECTUÉ RÉGULIÈREMENT SUR SITE AFIN DE S’ASSURER DU RESPECT DES OBJECTIFS DÉFINIS ET D’OPTIMISER, SI BESOIN, L’ORGANISATION DES PRESTATIONS.
        ul
          li ENTRETIEN QUOTIDIEN DE SIÈGES SOCIAUX, BUREAUX…
          li NETTOYAGE DES VITRERIES
          li MISE EN PLACE DES FOURNITURES SANITAIRES
          li NETTOYAGE MOQUETTE ET TAPIS
          li TRAITEMENT DES SOLS 
          li REMISE EN ÉTAT APRÈS TRAVAUX OU DÉGATS
          li ENTRETIEN DES IMMEUBLES 
        .center
          img(src='images/logo.png' alt='')