block vars
  - var pageTitle = 'societe'
extends layout/layout
block content
  section(class="wrapper")  
    div(class="container")
      div(class="content")
        h2 ESPACES PROPRES, ESPRITS LIBRES
        p SPÉCIALISÉE DANS LE SECTEUR TERTIAIRE, HIGHLANDS PROPRETÉ, APPORTE DES SOLUTIONS CONCRÈTES ET EFFICACES EN MATIÈRE DE NETTOYAGE ET D’ENTRETIEN. LE SOIN PORTÉ À LA SÉLECTION ET LA FORMATION DES AGENTS DE PROPRETÉ, LE RESPECT DES GRANDES ORIENTATIONS SOCIALES, ÉTHIQUES ET ENVIRONNEMENTALES GARANTISSENT UNE PRESTATION RIGOUREUSE ADAPTÉE AUX EXIGENCES DE SERVICE ET DE QUALITÉ SOUHAITÉES PAR NOS CLIENTS. HIGHLANDS PROPRETÉ S’ATTACHE ÉGALEMENT À SENSIBILISER SON PERSONNEL  AU RESPECT DES NORMES SANITAIRES ET DE SÉCURITÉ, ASSURANT  AINSI DES RÉPONSES PERTINENTES ET CONFORMES AUX ENGAGEMENTS SPÉCIFIQUES PRIS AVEC SES CLIENTS.
        .center
          img(src='images/logo.png' alt='')
