doctype html
html
  head
    title [ Cofely ]
    link(rel="stylesheet", href="css/main.css", type="text/css")
    script(type="text/javascript" src="js/vendors/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="js/slick.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="js/app.js")
    script(type="text/javascript" src="js/pagefade.js")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body()
    div(id="wrapper")
      div(class="mySlide content")
        div
          img(src="images/profil_1/ET_0/P1_E0_0.png")
          div(class="audioplayer")
            img(src="images/audioplayer/play.png" class="playpause play" data-audiosrc="media/p1_e0.mp3")
            img(src="images/audioplayer/voldown.png" class="voldown")
            div(class="volled")
              div(class="volledon")
            img(src="images/audioplayer/volup.png" class="volup")
          img(src="images/profil_1/ET_0/P1_E0_01_01.png" class="lk1")
          img(src="images/profil_1/ET_0/P1_E0_01_02.png" class="lk2")
          img(src="images/profil_1/ET_0/P1_E0_01_03.png" class="lk3")
          img(src="images/profil_1/ET_0/P1_E0_01_04.png" class="lk4")
          img(src="images/profil_1/ET_0/P1_E0_01_05.png" class="lk5")
        div(data-label="9:00" data-video="ANIM P1_E1_01.mp4")
          img(data-lazy="images/profil_1/P1_E1_01_T-title.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E1_01_T.png")
          div(class="audioplayer")
            img(src="images/audioplayer/play.png" class="playpause play" data-audiosrc="media/p1_e1.mp3")
            img(src="images/audioplayer/voldown.png" class="voldown")
            div(class="volled")
              div(class="volledon")
            img(src="images/audioplayer/volup.png" class="volup")
        div(data-video="ANIM P1_E1_02.mp4")
          img(data-lazy="images/profil_1/P1_E1_02_T-title1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E1_02_T-title2.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E1_02_T.png")
        div(data-video="ANIM P1_E1_03.mp4")
          img(data-lazy="images/profil_1/P1_E1_03_T-title1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E1_03_T-title2.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E1_03_T.png")
        div(data-video="ANIM P1_E1_04.mp4")
          img(data-lazy="images/profil_1/P1_E1_04_T-title1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E1_04_T-title2.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E1_04_T.png")
        div(data-video="ANIM P1_E1_05.mp4")
          img(data-lazy="images/profil_1/P1_E1_05_T-title2.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E1_05_T.png")
        div(data-video="ANIM P1_E1_06.mp4")
          img(data-lazy="images/profil_1/P1_E1_06_T-title2.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E1_06_T.png")
        div(data-label="11:00")
          img(data-lazy="images/profil_1/P1_E1_01_T-title.png" class="t1 hidden")          
          img(data-lazy="images/profil_1/P1_E2_01_T.png")
          div(class="audioplayer")
            img(src="images/audioplayer/play.png" class="playpause play" data-audiosrc="media/p1_e2_V1.mp3")
            img(src="images/audioplayer/voldown.png" class="voldown")
            div(class="volled")
              div(class="volledon")
            img(src="images/audioplayer/volup.png" class="volup")
        div
          div(class="counter" id="puissanceparc") 010206
          div(class="counter" id="totaleconomies") 000000
          div(class="counter mini" id="lampespuissance") 01680
          div(class="counter mini" id="lampeseconomies") 151200
          div(class="counter mini" id="ballonspuissance") 00709
          div(class="counter mini" id="ballonseconomies") 063788
          div(class="counterbutton" id="boutonlampes" powervalue="1050" costvalue="94500")
          div(class="counterbutton" id="boutonballons" powervalue="283" costvalue="25515")
          img(data-lazy="images/profil_1/P1_E1_03_T-title1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E2_02_T-title2.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E2_02_T.png")
        div
          div(class="counter" id="puissanceparc2") 010206
          div(class="counter" id="totaleconomies2") 000000
          div(class="counterbutton" id="boutontelegestion" powervalue="3770" costvalue="339255")
          img(data-lazy="images/profil_1/P1_E2_03_T-title2.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E2_03_T.png")
        div
          img(data-lazy="images/profil_1/P1_E2_04_T-title2.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E2_04_T.png")
          div(class="alertlogos")
            div(class="alertlogo")
            div(class="alertlogo")
            div(class="alertlogo")
        div(data-label="14:00")
          img(data-lazy="images/profil_1/P1_E1_01_T-title.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E3_01_T.png")
          div(class="audioplayer")
            img(src="images/audioplayer/play.png" class="playpause play" data-audiosrc="media/p1_e3.mp3")
            img(src="images/audioplayer/voldown.png" class="voldown")
            div(class="volled")
              div(class="volledon")
            img(src="images/audioplayer/volup.png" class="volup")
        div
          img(data-lazy="images/profil_1/P1_E1_03_T-title1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E3_02_T.png")
        div
          img(data-lazy="images/profil_1/P1_E1_02_T-title1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E3_03_T.png")
          div(class="diapos")
            img(src="images/profil_1/E3_diapo/diapo1.png" class="current")
            img(src="images/profil_1/E3_diapo/diapo2.png")
            img(src="images/profil_1/E3_diapo/diapo3.png")
            img(src="images/profil_1/E3_diapo/diapo4.png")
          div(class="diapobutton diapoprev")
          div(class="diapobutton diaponext")
          div(class="squarebuttons")
            div(class="button")
            div(class="button")
            div(class="button")
            div(class="button")
        div
          img(data-lazy="images/profil_1/P1_E3_04_T-title1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E3_04_T.png")
        div
          img(data-lazy="images/profil_1/P1_E3_05_T.png")
        div
          img(data-lazy="images/profil_1/P1_E3_06_T.png")
        div(data-label="16:00")
          img(data-lazy="images/profil_1/P1_E1_01_T-title.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E1_03_T-title1.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E4_01_T.png")
          div(class="audioplayer")
            img(src="images/audioplayer/play.png" class="playpause play" data-audiosrc="media/p1_e4.mp3")
            img(src="images/audioplayer/voldown.png" class="voldown")
            div(class="volled")
              div(class="volledon")
            img(src="images/audioplayer/volup.png" class="volup")
        div
          img(data-lazy="images/profil_1/P1_E1_04_T-title1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E4_02_T.png")
        div
          img(data-lazy="images/profil_1/P1_E4_03_T-titre1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E4_03_T.png")
        div(data-label="18:00")
          img(data-lazy="images/profil_1/P1_E1_01_T-title.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E5_01_T.png")
          div(class="audioplayer")
            img(src="images/audioplayer/play.png" class="playpause play" data-audiosrc="media/p1_e5.mp3")
            img(src="images/audioplayer/voldown.png" class="voldown")
            div(class="volled")
              div(class="volledon")
            img(src="images/audioplayer/volup.png" class="volup")
        div
          img(data-lazy="images/profil_1/P1_E5_02_T-titre1.png" class="t1 hidden")
          img(data-lazy="images/profil_1/P1_E5_02_T-titre2.png" class="t2 hidden")
          img(data-lazy="images/profil_1/P1_E5_02_T.png")
        div
          img(data-lazy="images/profil_1/P1_E5_03_T.png")
      div(class="btns")
        div(class="retour")
          a(href="index.html?fade=white")
            img(src="images/logo_showroom.png")
            span Accueil
        div(class="credits")
          img(src="images/picto_credit.png")
          span Crédits
        div(class="logo_cofely")
          img(src="images/logo_cofely.png")
        div(class="home_profil")
          span retour
      div(class="popin")
        span(class="close") +
        img(src="images/txt-popin.png")
        div
          button(class="oui")
          button(class="non")
      div(class="opa")
    div(id="audioplayer")
      audio(preload="none")
        source
