/* TYPOS */
@font-face {
    font-family: 'blairmditc_ttregular';
    src: url('../fonts/blairmditcttmedium-webfont.eot');
    src: url('../fonts/blairmditcttmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blairmditcttmedium-webfont.woff') format('woff'),
         url('../fonts/blairmditcttmedium-webfont.ttf') format('truetype'),
         url('../fonts/blairmditcttmedium-webfont.svg#blairmditc_ttregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'StoneSerifLT';
    src: url('../fonts/StoneSerifLT.eot?') format('eot');
    src: url('../fonts/StoneSerifLT.eot?#iefix') format('embedded-opentype'),
         url('../fonts/StoneSerifLT.woff') format('woff'), 
         url('../fonts/StoneSerifLT.ttf')  format('truetype'),
         url('../fonts/StoneSerifLT.svg#StoneSerifLT') format('svg');
}